@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --blue-50: #f1f5fb;
    --blue-100: #e3ebf7;
    --blue-200: #c7d7f0;
    --blue-300: #abc2e8;
    --blue-400: #8faee0;
    --blue-500: #6590d5;
    --blue-600: #3061af;
    --blue-700: #285192;
    --blue-800: #204075;
    --blue-900: #183058;

    --gray-50: #f8f9f9;
    --gray-100: #f1f2f4;
    --gray-200: #e4e6e9;
    --gray-300: #d6d9de;
    --gray-400: #c8ccd3;
    --gray-500: #b3b9c2;
    --gray-600: #848d9c;
    --gray-700: #6b7585;
    --gray-800: #565d6b;
    --gray-900: #404650;

    --green-50: #eafcf2;
    --green-100: #d6fae4;
    --green-200: #acf5c9;
    --green-300: #83f0ae;
    --green-400: #59ea93;
    --green-500: #1ce26b;
    --green-600: #118c42;
    --green-700: #0e7537;
    --green-800: #0c5d2c;
    --green-900: #094621;

    --red-50: #fcf2f4;
    --red-100: #fae5e9;
    --red-200: #f5ccd3;
    --red-300: #f0b2bd;
    --red-400: #eb99a6;
    --red-500: #e37285;
    --red-600: #d42a46;
    --red-700: #b0233a;
    --red-800: #8d1c2f;
    --red-900: #6a1523;

    --yellow-50: #fdf8ef;
    --yellow-100: #fbf2de;
    --yellow-200: #f7e4be;
    --yellow-300: #f4d79d;
    --yellow-400: #f0c97d;
    --yellow-500: #eab54c;
    --yellow-600: #c48a17;
    --yellow-700: #a37313;
    --yellow-800: #825c0f;
    --yellow-900: #62450b;
  }
}
